.BaseComponent{
  background: #556270; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6b6b,
    #556270
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6b6b,
    #556270
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
